nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0 110px 0;

    .menu {
        a {
            font-family: $secondary-font;
            font-size: 20px;
            margin-left: 32px;
        }
    }

}

h1 {
    span {
        color: $second-color-text;
        font-size: 86px;
        font-style: normal;
        text-transform: uppercase;
        padding: 12px 15px 24px 120px;
        display: inline-block;
    }
}

p {
    color: $second-color-text;
    font-family: $secondary-font;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    text-transform: capitalize;
    padding-left: 105px;
    padding-bottom: 42px;
}

button {
    color: $second-color-text;
    font-family: $secondary-font;
    font-size: 24px;
    width: 437px;
    padding: 16px 32px;
    border-radius: 15px;
    background: $button-and-text-color;
    border: none;
    margin-left: 108px;
    text-transform: uppercase;
}